{% extends 'courses/base2.html' %}
{% load bootstrap3 %}
{% block content %}
{% load static %}

    <!-- Compiled and minified JavaScript -->

 <div class="row">
    
        <div class="container" style="display:flex;justify-content:center;align-items:center;">
        <div class="col-sm-6 col-md-6">
            
            <h3 style="text-align:center;font-size:20;">{{tutorial.Lesson_title}}</h3>
            <p style="text-align:center;">Published {{tutorial.tutorial_published}}</p>
           
            
        </div>
        </div>

        <div class="col s12 m4 l4">
            <ul class="collapsible popout">
                {% for tutorial in sidebar %}
                    {% if forloop.counter0 == this_tutorial_idx %}
                        <li class="active">
                            <div class="collapsible-header" style="color:white;font-weight:bold;">{{tutorial.Lesson_title}}<br>(currently viewing)</div>
                        </li>
                    {% else %}
                        <li>
                            <div class="collapsible-header" style="color:white;font-weight:bold;">{{tutorial.Lesson_title}}</div>
                            <div class="collapsible-body">
                                <p><a href="/courses/{{tutorial.Lesson_slug}}"><button class="btn waves-effect waves-light right-align" style="background-color:yellow; color:black">Go</button></a></p>
                                
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="container" style="display:flex;justify-content:center;align-items:center;">
        <div class="col-sm-6 col-md-6">
       <video controls
                    controllers="nodownload"
                    
                    src="{{STATIC_URL}}{{tutorial.video_url.url}}"
                    width="600"
                    height="400">
                Sorry your browser does not support embedded video.

            </video>
    </div>
         
      </div>
    </div>
    
      
      <div class="container">
        <div class="fb-comments"  style="background-color:#FFF;"  data-href="http://127.0.0.1:8000/courses/{{tutorial.Lesson_slug}}" data-width="" data-numposts="5" ></div>
        </div>

        
        
    </div>


    

{% endblock %}

   
