{% extends 'courses/base2.html' %}

{% block content %}
<div class="container" style="display:flex;justify-content:center;align-items:center;">
<h1 style="align-text:center;">Profile </h1>
</div>
<br>
<div class="container" style="display:flex;justify-content:center;align-items:center;"> 
    
    <div class="row">
        
        <hr>
        <div class="col-sm-4 col-sm-4">
            {% if user_subscription != None %}
                <h4>Current Membership:{{user_membership.membership.membership_type}}<small>Since {{user_subscription.get_created_date}}</small></h4>
                {% if user_subscription.active != False %}
                    <p>Next Payment due:{{user_subscription.get_next_billing_date}}</p>

                    <a href="{% url 'memberships:cancel'%}">Cancel Subscription </a>

                {% else %}
                    <p>You dont have an active membership plan. Check them out here</p>
                        <button class="btn btn-warning"><a href="{% url 'memberships:select'%}"></a></button>


                {% endif%}


            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}

